<table>
  <tr class="header-row">
    <th (click)="sort('name')" class="sortable">Name</th>
    <th (click)="sort('type')" class="sortable">Type</th>
    <th>Operational</th>
    <th>Orbit Type</th>
    <th>Launch Date</th>
  </tr>
  <tr class="data-row" *ngFor="let satellite of satellites">
    <td>{{satellite.name}}</td>
    <td *ngIf="satellite.isSpaceDebris() === true; else spaceDebris" class="warning">
      Space Debris</td>
    <td>{{satellite.launchDate}}</td>
    <td>{{satellite.orbitType}}</td>
    <td>{{satellite.operational}}</td>
    <ng-template #spaceDebris>{{satellite.type}}</ng-template>
  </tr>
</table>
